<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Buy {{ name }}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
              integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
              rel="stylesheet"
              crossorigin="anonymous">
        <script src="https://js.stripe.com/v3/"></script>
    </head>
    <body>
        <form method="POST" style="display: flex; justify-content: center; margin: 250px 200px;
            flex-direction: column; align-items: center;">
            {% csrf_token %}
            {% if name %}
            <h1>{{ name }}</h1>
            <p>{{ description }}</p>
            <p>{{ price }}</p>
            <button id="buy-button" type="submit">Buy</button>
            {% endif %}
        </form>
        <div style="display: flex; margin: -200px 100px;
            flex-direction: column; align-items: center;">
            <h1>{{ data }}</h1>
            <p>{{ session_id }}</p>
        </div>


        <script type="text/javascript">
            let stripe = Stripe('pk_test_a9nwZVa5O7b0xz3lxl318KSU00x1L9ZWsF');
            let buyButton = document.getElementById('buy-button');
            buyButton.addEventListener('click', function() {
            fetch('/buy/1', {method: 'GET'})
            .then(response => return response.json())
            .then(session => stripe.redirectToCheckout({ sessionId: session_id }))
        </script>
    </body>
</html>
